:root {
  --white: #ffff;
  --blue-primary: #002C77;
  --black-5: rgba(0, 0, 0, 0.95);
  /* чорний із 5% прозорістю */
  --black-10: rgba(0, 0, 0, 0.90);
  /* чорний із 10% прозорістю */
  --blue-light-30: rgba(136, 191, 243, 0.30);
  /* світло-блакитний із 30% прозорістю */
  --black-solid: #333333;
  /* насичений чорний */
  --blue-light: #DCECFB;
  /* дуже світло-блакитний */
  --yellow: #FFCF00;
  /* яскраво-жовтий */
  --blue-light-100: #88BBF3;
  /* блакитний */
  --blue-light-50: rgba(136, 191, 243, 0.50);
  /* блакитний із 50% прозорістю */
  --blue-light-40: rgba(136, 191, 243, 0.40);
  /* блакитний із 40% прозорістю */
  --blue-light-15: rgba(136, 191, 243, 0.15);
  /* блакитний із 15% прозорістю */
  --blue-extra-light: #D1E5FA;
  /* додатково світлий блакитний */
  --gray-light: #D9D9D9;
  /* світло-сірий */
  --red-primary: #E40032;
  /* червоний */
  --blue-extra-light-100: #F3F9FE;
  /* дуже світло-блакитний */

  /*Fonts*/
  --font-family: "Roboto", sans-serif;
  --second-family: "Museo Sans", sans-serif;
  --third-family: "Soleil", sans-serif;
  --font3: "Open Sans", sans-serif;
}

html {
  min-width: 100%;
  width: fit-content;
}

body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-family);
}

button {
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1280px;
  padding: 0 80px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container {
  display: flex;
  gap: 16px;
  align-items: center;
}


.logo {
  width: 186px;
  height: 48px;
}

.logo_name {
  width: 150px;
  font-family: "Roboto Condensed", sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  height: 1.25;
  color: var(--blue-primary);
}

.header_info {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header_info_item {
  display: flex;
  flex-direction: column;
}

.header_info_title {
  line-height: 1.5;
  color: var(--black-10);

}

.header_info_value {
  line-height: 1.5;
  font-weight: 600;
  line-height: 1.37;
  color: var(--blue-primary);
}


.header_btn {
  padding: 14px 40px;
  border: none;
  color: var(--white);
  font-weight: bold;
  line-height: 1.6;
  background-color: var(--red-primary);
  border-radius: 4px;
}

.header_btn:hover,
.header_btn:focus,
.header_btn:active {
  background-color: #c0042d;
}

.first_section {
  background-color: var(--blue-primary);
  color: var(--white);

  padding-top: 40px;
  padding-bottom: 40px;
}

.info_left {
  width: 359px;
  height: 164px;
}

.info_left_title {
  font-family: var(--third-family);
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-bottom: 16px;
}

.info_edit {
  display: flex;
  gap: 8px;
  align-items: center;
}

.info_edit_text {
  font-weight: 600;
  line-height: 1.37;
}

.icon_btn {
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: middle;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_box {
  width: 344px;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;
  line-height: 150%;
}

.info_right {
  display: flex;
  gap: 16px;
}

.info_container {
  border-radius: 8px;
  padding: 20px 20px 16px 20px;
  width: 268px;
  height: 140px;
  background-color: var(--white);
  color: var(--black-10);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_top_text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.age_container {
  display: flex;
  align-items: center;
  gap: 20px;

  border-bottom: 2px solid var(--blue-primary);
  padding: 0px 0px 4px 0px;
  width: fit-content;
  height: 50px;
}

.age {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0em;
  color: var(--blue-primary);
}

.info-bottom {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px 12px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.second_section {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 48px;
}

.second_section::before,
.second_section::after {
  content: '';
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.second_section::before {
  top: 0;
  right: 0;
  height: 472px;
  width: 920px;
  background-image: url('./assets/top-wave.svg');
}

.second_section::after {
  bottom: 0;
  min-height: 429px;
  background-image: url('./assets/bottom-wave.svg');
}

.second_section_layout {
  display: flex;
  align-items: start;
  position: relative;
  z-index: 10;
}

.section_info {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.section_info_main {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section_info_title {
  font-family: var(--third-family);
  font-size: 50px;
  line-height: 1.20;
  color: var(--blue-primary);
}

.section_info_subtitle {
  font-size: 20px;
  line-height: 140%;
  color: var(--black-10);
}

.section_info_text {
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.section_info_box {
  border: 1px solid rgba(139, 191, 243, 0.5);
  border-radius: 8px;
  padding: 32px;
  width: 360px;
  height: 208px;
  box-sizing: border-box;
  background: var(--blue-extra-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits_container {
  width: 550px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.benefits_body {
  padding: 12px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
  line-height: 1.44;
  color: rgba(0, 0, 0, 0.9);
}

.benefits_header {
  background-color: var(--blue-primary);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.benefits_header h2 {
  font-size: 18px;
  line-height: 1.44;
}


.edit_year {
  border: 2px solid var(--white);
  border-radius: 4px;
  padding: 4px 12px;
  width: 60px;
  height: 34px;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.edit_year span {
  font-size: 18px;
}

.edit-link {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white);
  text-decoration: none;
}

.edit-link::hover {
  color: var(--yellow);
}

.benefit-section {
  border-bottom: 1px solid #e0e0e0;
}

.benefits-table {
  font-size: 18px;
}

.benefit_table div {
  padding: 12px 16px;
}

.line_one {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid #002c77;
  padding: 16px 0px;
}

.line_two {
  background: rgba(0, 0, 0, 0.05);
}

.information_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefit-section:last-child {
  border-bottom: none;
}

.benefit-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.benefit-section p {
  font-size: 14px;
  margin-bottom: 5px;
}

.benefit_note {
  border: 1px solid rgba(139, 191, 243, 0.4);
  border-radius: 8px;
  font-weight: 400;
  padding: 16px;
  background-color: var(--blue-primary);
  color: var(--white);
  line-height: 1.44;
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.small_note {
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.7);
  font-style: condensed;
}

.benefit_note .icon {
  margin-bottom: 8px;
}

.highlight {
  font-family: var(--third-family);
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0em;
  color: var(--black-10);
}

.white {
  color: var(--white);
}

.benefits_info {
  display: flex;
  align-items: start;
  gap: 16px;
  font-size: 18px;
  padding: 20px 32px 24px 32px;
}


.ht-bg-yellow {
  background-color: var(--yellow);
}

.ht-bg-blue {
  background-color: var(--blue-light-100);
}

.ht-bg-dark-blue {
  background-color: var(--blue-primary);
}

.highlight-bg h3 {
  color: #333333;
}

.text-dark {
  color: var(--black-10);
  border-color: var(--black-10);
}

.third_section {
  position: relative;
  min-height: 270px;
  overflow: hidden;
  padding-top: 95px;
  padding-bottom: 120px;
  background-color: var(--blue-light);
}

.third_section::after {
  content: '';
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  bottom: 0;
  min-height: 270px;
  background-image: url('./assets/dark-blue-wave.svg');
}

.ts_left {
  width: 259px;
}

.ts_left_title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0em;
  color: var(--black-10);
  margin-bottom: 40px;
}

.ts_left_subtitle {
  font-size: 18px;
  line-height: 1.44;
  color: var(--black-10);
}

.ts_layout {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-right: 38px;
}

.ts_right {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 841px;
  height: 765px;
  background: var(--white);
  box-sizing: border-box;
  padding: 28px 46px 32px 56px;
}

.ts_right .title {
  font-size: 18px;
  line-height: 1.44;
  color: #333;
}

.arrow_container {
  width: 740px;
  height: 108px;
  background-image: url('./assets/big-arrow.svg');
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 80px 0 32px;
  margin-bottom: 8px;
}

.arrow_text {
  display: flex;
  align-items: center;
  gap: 56px;
}

.arrow_text_main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-primary);
}

.arrow_text_italic {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.agenda_list {
  display: flex;
  gap: 24px;
  padding: 2px 0;
  margin-top: 18px;
  margin-bottom: 26px;
}

.agenda_list .item {
  display: flex;
  gap: 12px;
}

.agenda_list .item .box {
  width: 20px;
  height: 20px;
}

.agenda .item .text {
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

.table {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.table .table_item {
  display: flex;
  align-items: center;
}

.table .table_item .left {
  width: 148px;
  height: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-primary);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
}

.table .table_item small {
  font-size: 12px;
}

.progress_bar {
  margin-right: 24px;
  height: 64px;
}

.bar_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: var(--black-10);
}

.bar_custom {
  padding: 0px 80px 0px 20px;
  display: flex;
  align-items: center;
  margin-right: 0;
}

.left_custom {
  width: 148px;
}

.left_custom span {
  font-size: 14px;
}

.date_info {
  font-size: 16px;
  line-height: 1.25;
  font-style: condensed;

  margin-top: 32px;
}

.w-xl {
  width: 331px;
}

.w-l {
  width: 295px;
}

.w-m {
  width: 264px;
}

.w-s {
  width: 232px;
}

.w-full {
  flex: 1;
}

.ht-bg-grey {
  background: rgba(0, 0, 0, 0.05);
}

.sf_top {
  position: relative;
  top: -1px;
  padding-top: 96px;
  padding-bottom: 162px;

}

.sf_info h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 24px;
}

.sf_info p {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: center;
  color: var(--white);
}

.sf_bottom {
  height: 80px;
}

.coverage_container {
  position: absolute;
  top: 50%;
  transform: translate(0%, 50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px 48px;
  height: 175px;
  box-sizing: border-box;
  background-color: var(--blue-extra-light-100);

  display: flex;
  gap: 48px;
}

.coverage_container .title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--blue-primary);
  width: 245px;
}

.separator {
  width: 1px;
  height: 111px;
  background-color: rgba(0, 0, 0, 0.1);
}

.info_item {
  display: flex;
  gap: 12px;
  align-items: start;
  width: 301px;
}

.info_item_content {
  width: 270px;
}

.info_item_content .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: var(--black-10);
  margin-bottom: 8px;
  width: 270px;
}

.info_item_content p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.29;
}

.small_age {
  font-size: 20px;
}

.info_item_content .age {
  font-size: 32px;
}